body {
    font-family: 'Dela Gothic One', cursive;
}
.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}
.classeur {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.carte {
    font-size: 12px;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    border: 1px solid #fdbb2d;
}
.auteur {
    font-size: 8px;
}